/* Dialog box - Modal */
.dialog {
  width: 100vh;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.144);
  z-index: 99;
}

.dialog .dialog-box {
  z-index: 100;
}